body {
    font-family: Arial, sans-serif;
    background-color: #E5E8F9;
    margin: 0;
    padding: 0;
}


.containerAuxiliar {
    text-align: center;
    padding: 50px;
    background-color: white;
    border-radius: 15px;
    width: 1160px;
    margin: 100px ;
}


h2 {
    color: #3B4CCA;
    font-size: 24px;
    margin-bottom: 10px;
}

h1 {
    color: #1A2C68;
    font-size: 36px;
    margin: 10px 0;
}

p {
    color: #665;
    font-size: 16px;
    margin-bottom: 40px;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

